*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --text-color: #3e3e3e;
  --cell: #111;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.dark-theme {
  --bg-color: #111;
  --text-color: #fff;
  --cell: #fff;
}

.page-control {
  position: relative;
  min-height: 100vh;
}

#changeTheme {
  cursor: pointer;
  display: block;
  padding: 0.5em;
  font-size: 1em;
  border: 3px solid gray;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: var(--bg-color);
}

.score-board {
  margin-inline: auto;
  position: relative;
  width: min(100%, 600px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board>span {
  font-size: 2rem;
  font-weight: 900;
}

.score-panel {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}


.score-panel:last-child {
  flex-direction: row-reverse;
}

.score-panel label {
  font-size: 5rem
}

.score-panel span {
  font-size: 2.5rem
}

.timerBox {
  /*border: 2px solid;*/
  margin: 1em auto 3em;
  padding: 0.5em;
}

#timer {
  font-size: 3rem
}

.page-control {
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
}

.board {
  width: 100%;
  /*min-height: 100vh;
  min-height: 963px;*/
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 5em;
  aspect-ratio: 1;
  border: 1px solid;
  cursor: pointer;
  position: relative;
}

.cell:nth-child(3n+1) {
  border-left: 0;
}

.cell:nth-child(3n+3) {
  border-right: 0;
}

.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
  border-top: 0;
}

.cell:last-child, .cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
  border-bottom: 0;
}

.cell.x, .cell.circle {
  cursor: no-drop;
}

.cell.x::before, .cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: 10px;
  left: 45%;
  top: 5%;
  height: 100%;
  bottom: 5%;
  margin: auto;
}

.board.x .cell:not(.x):not(.circle)::before,
.board.x .cell:not(.x):not(.circle)::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: rgb(150, 150, 150);
}

.cell.x::before, .cell.x::after {
  background-color: var(--cell);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):before {
  transform: rotate(45deg) scale(0.95);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle)::after {
  transform: rotate(-45deg) scale(0.95);
}

.cell.circle::before, .cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  inset: 10%;
  border-radius: 50%;
}

.cell.circle::before, .cell.circle::after {
  background-color: var(--cell);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  inset: 25%;
  background-color: var(--bg-color);
}

.display-message {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  z-index: 10;
  display: none;
}
.display-message.show-message {
  display: flex;
}
.display-message h2 {
  color: #fff;
  font-size: 4.5rem;
}
.display-message button {
  font-size: 2rem;
  padding: 0.5em 1em;
  color: #111;
  background-color: #fff;
  border: 3px solid #111;
  cursor: pointer;
  transition: all 0.15s ease;
}
.display-message button:hover {
  color: #eeeeee;
  background-color: black;
  border-color: #eeeeee;
}/*# sourceMappingURL=tic-tac.css.map */